
<div style="margin: auto; width: 70%;margin-top: 50px">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">CIN</th>
      <th scope="col">typeFormation</th>
      <th scope="col">Date de naissance</th>
      <th scope="col">email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let s of student | async">
      <td>{{s.name}}</td>
      <td>{{s.cin}}</td>
      <td>{{s.typeFormation}}</td>
      <td>{{s.dateN}}</td>
      <td>{{s.email}}</td>
    </tr>
    </tbody>
  </table>
</div>

